{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <div>
            {{ form_start(newPersonForm) }}
            {{ form_widget(newPersonForm) }}
            {{ form_end(newPersonForm) }}
        </div>
        <ul>
            <li>
                <a href="{{path('workshop5_usersgroup_addgroup')}}">Dodaj nową grupę</a>
            </li>
        </ul>
        <div>
            {% for person in people %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>{{ person.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('person_show', { 'id': person.id }) }}">Pokaż szczegóły</a>
                            </li>
                            <li>
                                <a href="{{ path('workshop5_person_deleteperson', { 'id': person.id }) }}">Skasuj osobę</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>






{% endblock %}
